{% extends "base.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      {% block title %} Collection{% endblock %}
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
			{% block template %}
      <!-- bootstrap css -->
      <link rel="stylesheet" href= {% static 'css/bootstrap.min.css' %}>
      <!-- style css -->
      <link rel="icon" href= {% static 'css/images/fevicon.png' %}  type="image/gif" />
      <!-- Scrollbar Custom CSS -->
      <link rel="stylesheet" href= {% static 'css/query.mCustomScrollbar.min.css' %}>
      <!-- Tweaks for older IEs-->
      <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
      <!-- owl stylesheets -->
      <link rel="stylesheet" href= {% static 'css/owl.theme.default.min.css' %}>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
      {% endblock %}
   </head>
   <!-- body -->
   <body class="main-layout">
	<!-- header section start -->
	<!-- new collection section start -->
  <div class="collection_text">Collection</div>
	{% block collection %}
	<div class="layout_padding collection_section">
		<div class="container">
				<h1 class="new_text"><strong>New  Collection</strong></h1>
				<p class="consectetur_text">consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
				<div class="collection_section_2">
					<div class="row">
						<div class="col-md-6">
							<div class="about-img">
								<button class="new_bt">New</button>
								<div class="shoes-img"><img src={% static 'images/shoes-img1.png' %}></div>
								<p class="sport_text">Men Sports</p>
								<div class="dolar_text">$<strong style="color: #f12a47;">90</strong> </div>
								<div class="star_icon">
									<ul>
										<li><a href="#"><img src={% static 'images/star-icon.png' %}></a></li>
										<li><a href="#"><img src={% static 'images/star-icon.png' %}></a></li>
										<li><a href="#"><img src={% static 'images/star-icon.png' %}></a></li>
										<li><a href="#"><img src={% static 'images/star-icon.png' %}></a></li>
										<li><a href="#"><img src={% static 'images/star-icon.png' %}></a></li>
									</ul>
								</div>
							</div>
							<button class="seemore_bt">See More</button>
						</div>
						<div class="col-md-6">
							<div class="about-img2">
								<div class="shoes-img2"><img src={% static 'images/shoes-img2.png' %}></div>
								<p class="sport_text">Men Sports</p>
								<div class="dolar_text">$<strong style="color: #f12a47;">90</strong> </div>
								<div class="star_icon">
									<ul>
										<li><a href="#"><img src={% static 'images/star-icon.png' %}></a></li>
										<li><a href="#"><img src={% static 'images/star-icon.png' %}></a></li>
										<li><a href="#"><img src={% static 'images/star-icon.png' %}></a></li>
										<li><a href="#"><img src={% static 'images/star-icon.png' %}></a></li>
										<li><a href="#"><img src={% static 'images/star-icon.png' %}></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
		</div>
	</div>
		{% endblock %}
	<!-- new collection section end -->
	<!-- section footer start -->
	<!-- section footer end -->
	<div class="copyright">2019 All Rights Reserved. <a href="https://html.design">Free html  Templates</a></div>
 </body>
</html>
