{% extends "index.html"%}
{% load static %}

{% block navbar %}
<div class="header_section">
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <div class="logo"><a href="{% url 'main' %}"><img src={% static 'images/logo.png' %}></a></div>
      </div>
      <div class="col-sm-9">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
                      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                      </button>
                  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                      <div class="navbar-nav">
                         <a class="nav-item nav-link" href="{% url 'main' %}">Home</a>
                         <a class="nav-item nav-link" href="{% url 'collection' %}">Collection</a>
                         <a class="nav-item nav-link" href="{% url 'shoes_base' %}">Shoes</a>
                         <a class="nav-item nav-link" href="{% url 'racing-boots' %}">Racing Boots</a>
                         <a class="nav-item nav-link" href="{% url 'contact' %}">Contact</a>
                         {% if  user.is_authenticated %}
                           <a class="nav-item nav-link" href="{% url 'user-profile' %}">Profile</a>
                         {% endif %}
                         {% if  user.is_anonymous %}
                          <a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
                          <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
                        {% endif %}

                      </div>
                  </div>

                  </nav>


      </div>
    </div>
  </div>
  <div class="banner_section">
    <div class="container-fluid">
      <section class="slide-wrapper">
  <div class="container-fluid">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
              <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
              <li data-target="#myCarousel" data-slide-to="1"></li>
              <li data-target="#myCarousel" data-slide-to="2"></li>
              <li data-target="#myCarousel" data-slide-to="3"></li>
          </ol>

          <!-- Wrapper for slides -->
          <div class="carousel-inner">
              <div class="carousel-item active">
                  <div class="row">
        <div class="col-sm-2 padding_0">
          <p class="mens_taital">Men Shoes</p>

          <div class="page_no">0/2</div>
          <p class="mens_taital_2">Men Shoes</p>
        </div>
        <div class="col-sm-5">
          <div class="banner_taital">
            <h1 class="banner_text">New Running Shoes </h1>
            <h1 class="mens_text"><strong>Men's Like Plex</strong></h1>
            <p class="lorem_text">ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <button class="buy_bt">Buy Now</button>
            <button class="more_bt">See More</button>
          </div>
        </div>
        <div class="col-sm-5">
          <div class="shoes_img"><img src={% static 'images/running-shoes.png' %}></div>
        </div>
      </div>
              </div>
              <div class="carousel-item">
                  <div class="row">
        <div class="col-sm-2 padding_0">
          <p class="mens_taital">Men Shoes</p>
          <div class="page_no">0/2</div>
          <p class="mens_taital_2">Men Shoes</p>
        </div>
        <div class="col-sm-5">
          <div class="banner_taital">
            <h1 class="banner_text">New Running Shoes </h1>
            <h1 class="mens_text"><strong>Men's Like Plex</strong></h1>
            <p class="lorem_text">ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <button class="buy_bt">Buy Now</button>
            <button class="more_bt">See More</button>
          </div>
        </div>
        <div class="col-sm-5">
          <div class="shoes_img"><img src={% static 'images/running-shoes.png' %}></div>
        </div>
      </div>
              </div>
              <div class="carousel-item">
                  <div class="row">
        <div class="col-sm-2 padding_0">
          <p class="mens_taital">Men Shoes</p>
          <div class="page_no">0/2</div>
          <p class="mens_taital_2">Men Shoes</p>
        </div>
        <div class="col-sm-5">
          <div class="banner_taital">
            <h1 class="banner_text">New Running Shoes </h1>
            <h1 class="mens_text"><strong>Men's Like Plex</strong></h1>
            <p class="lorem_text">ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <button class="buy_bt">Buy Now</button>
            <button class="more_bt">See More</button>
          </div>
        </div>
        <div class="col-sm-5">
          <div class="shoes_img"><img src={% static 'images/running-shoes.png' %}></div>
        </div>
      </div>
              </div>
              <div class="carousel-item">
                  <div class="row">
        <div class="col-sm-2 padding_0">
          <p class="mens_taital">Men Shoes</p>
          <div class="page_no">0/2</div>
          <p class="mens_taital_2">Men Shoes</p>
        </div>
        <div class="col-sm-5">
          <div class="banner_taital">
            <h1 class="banner_text">New Running Shoes </h1>
            <h1 class="mens_text"><strong>Men's Like Plex</strong></h1>
            <p class="lorem_text">ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <button class="buy_bt">Buy Now</button>
            <button class="more_bt">See More</button>
          </div>
        </div>
        <div class="col-sm-5">
          <div class="shoes_img"><img src={% static 'images/running-shoes.png' %}></div>
        </div>
      </div>
              </div>
          </div>
      </div>
  </div>
</section>
    </div>
  </div>
</div>
{% endblock %}